.body {
    background-image: url("mark-tuzman-kwXwZxKVgao-unsplash.jpg");
    /* credit to Mark Tuzman: get details on how to properly annotate this */
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.footer {
    background-color: aqua;
    color: #ddd;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
}

/* This is where I set the layout for my home page grid container */
.container { 
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 15% 60% 25%;
    grid-template-rows: 15% 60% 25%;
}

/* This is where I arranged the homepage content within the grid and added styling */

.welcome {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 15%;
}
.intro {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 25%;
}

.learn__more {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 30%;
}

/* This is where I positioned and styled the navbar to apply to each HTML page */

.navbar ul {
    padding-right: 10px;
    margin:0;
    list-style: none;
    text-align: right;
}

.navbar li {
    display: inline-block;
    padding-top: 10px;
}

.navbar a {
    text-decoration: none;
    width: 100px;
    display: block;
    padding: 2px 2px;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover {
    background: rgb(87, 86, 86);

}

.nav__links {
    color: #bbb6b6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
} */

/* This is where I positioned and styled the footer and added footer links for each HTML page */


/* *This is where I setup the Bio page grid */

.bio__container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

/* This is where I arranged the content within the grid and added styling */

.bio__image {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
}

.center__pic {
    height: 300px;
    width: 415px;
    padding-left: 10%;
}

.bio__section {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    padding-left: 20%;
}

/* *This is where I set up the flex layout for the project displays on project html page */

.project__header {
    color: #ddd;
    text-align: center;
    padding-bottom: 0;
    padding-top: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100px;
    
}

.flex {
    max-width: 1000px;
    max-height: 550px;
    margin-left:auto;
    margin-right:auto;
    
    display: flex; 
    column-gap: 15px;

}

.flex__header {
    display: flex;
    justify-content: center;
    color:#ddd;
    
}

.image {
    display: flex;
    justify-content: center;
}

.flex__words {
    display: flex;
    padding:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: #ddd;
}

.container__one {
    background-color: rgba(43, 43, 102, 0.9);
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(243, 181, 46);
    border-radius: 15px;
    padding: 3px;
}

.project__one {

}

.container__two {
    background-color: rgba(43, 43, 102, 0.9);
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(243, 181, 46);
    border-radius: 15px;
    padding: 3px;
}
.project__two {
    
}

.container__three {
    background-color: rgba(43, 43, 102, 0.9);
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(243, 181, 46);
    border-radius: 15px;
    padding: 3px;
}
.project__three {
    
}

/* .flex__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 900px;
    margin-top: 300px;
    grid-column-start: 1;
    grid-column-end: 2
}

.project__one {
    display: flex;
    font-size: 16px;
    color: #ddd;
    grid-column-start:  ;

} */